/* --- HEADER --- */
#header{
	background: rgba($greyLight, 0);
	height: $headerHeight;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	padding: 0 $spacerS;
	overflow: hidden;
	transition: background-color 0.25s ease;

	@include media-breakpoint-down(sm) {
		height: auto;
        display: block;
		padding: $spacerXS;
	}

	.logo{
		@include fontLt;
		font-size: $fontL;
		line-height: 0.8;
		color: $white;

		@include media-breakpoint-down(lg) {
			font-size: $fontM;
		}

		@include media-breakpoint-down(sm) {
			display: block;
		}


		strong{
			@include fontBd;
		}
	}

	// OPEN CLOSE MENU MOBILE
	.navbar-toggle{
		background: none;
		width: 32px;
		height: 42px;
		display: none;
		position: absolute;
		top: 10px;
		right: $spacerXS;
		z-index: 110;
		margin: 0;
		padding: 0;
		border: 0;
		cursor: pointer;
		@include easeInOut(0.2s);

		@include media-breakpoint-down(sm) {
			display: block;
		}

		.icon-bar{
			background: $white;
			display: block;
			width: 100%;
			height: 2px;
			position: absolute;
			right: 0;
			@include easeInOut(0.2s);

			&:first-child{
				top: 9px;
				transform-origin: left top;
			}

			&:nth-child(2){
				top: 18px;
			}

			&:last-child{
				bottom: 13px;
				transform-origin: left bottom;
			}
		}

		.no-touch &:hover{
			.icon-bar{
				&:nth-child(2){
					width: 95%;
				}

				&:last-child{
					width: 90%;
				}
			}
		}

		&:focus{
			outline: none;
			border: 0;
		}
	}

	.header-content{
		padding: $spacerS 0;

		@include media-breakpoint-down(lg) {
			padding-top: $spacerS;
		}

		@include media-breakpoint-down(sm) {
			padding: 0;
		}

		.links-list{
			padding: 0;
			display: flex;
			@include fontBd;
			font-size: $fontS;
			text-transform: uppercase;
			text-align: right;

			@include media-breakpoint-down(sm) {
				display: none;
                padding: $spacerXS 0 0;
                text-align: left;
			}

			li{
				padding: 0 $spacerXS;

				@include media-breakpoint-down(md) {
					padding: 0 10px;
				}
				
				@include media-breakpoint-down(sm) {
					padding: 10px 0;
				}

				&:last-child{
					padding-right: 0;

					@include media-breakpoint-down(sm) {
						padding-bottom: 0;
					}
				}
				
				a{
					display: block;
					position: relative;
					color: $white;
					transition: color 0.25s ease;

					&:before{
						content: '';
						background: $white;
						width: 0;
						height: 2px;
						position: absolute;
						bottom: 0;
						left: 0;
						transition: width 0.25s ease;
					}

					.no-touch &:hover{
						&:before{
							width: 20px;
						}
					}
				}
			}
		}
	}


	&.forced ~ #content{
		padding-top: $spacerM;
	}


	&.scrolled{
		background: rgba($greyLight, 1);
		
		.logo{
			color: $primary;
			letter-spacing: -0.025em;
		}
		
		.navbar-toggle{
			.icon-bar{
				background: $primary;
			}
		}

		.header-content{
			.links-list{	
				li{					
					a{
						color: $primary;

						&:before{
							background: $primary;
						}
					}
				}
			}
		}
	}

	&.open{
		@include media-breakpoint-down(sm) {
			background: $primary;
		}

		&.scrolled{
			@include media-breakpoint-down(sm) {
				background: $greyLight;
			}
		}
		
		// OPEN CLOSE MENU MOBILE
		.navbar-toggle{
			.icon-bar{
				&:first-child{
					top: 11px;
					transform: rotate(45deg) translate(2px, -9px);
				}
				&:nth-child(2){
					width: 100%;
					opacity: 0;
				}
				&:last-child{
					width: 100%;
					transform: rotate(-45deg) translate(4px, 6px);
				}
			}

			.no-touch &:hover{
				.icon-bar{
					&:first-child{
						transform: rotate(45deg) translate(-1px, -9px);
					}
					&:last-child{
						width: 100%;
						transform: rotate(-45deg) translate(0px, 8px);
					}
				}
			}
		}

		.header-content{
			.links-list{
				opacity: 1;
				pointer-events: initial;

				@include media-breakpoint-down(sm) {
					display: block;
				}
			}
		}	
	}
}
/* --- /HEADER --- */