// --- TYPOS ---
// -------------
$fontXS: 12px;
$fontS: 16px;
$fontM: 21px;
$fontL: 36px;
$fontXL: 48px;


h1 {
	@include fontBd;
	font-size: $fontXL;
	line-height: $fontXL;
	text-transform: uppercase;
}

h2 {
	position: relative;
	@include fontBd;
	font-size: $fontL;
	line-height: $fontL;
	text-transform: uppercase;

	&:before {
		content: '';
		background: $primary;
		width: 20px;
		height: 2px;
		position: absolute;
		bottom: 3px;
		left: 0;
	}

	@include media-breakpoint-down(sm) {
		font-size: $fontM;
	}
}

h3 {
	@include fontBd;
	font-size: $fontM;
	line-height: $fontM;
	text-transform: uppercase;

	&:after {
		content: '';
		background: $greyDark;
		width: 20px;
		height: 2px;
		display: inline-block;
		margin-top: -3px;
		margin-left: 2px;
	}

	@include media-breakpoint-down(sm) {
		font-size: calculateRem(18px);
	}
}

a {
	text-decoration: none;
}

.small {
	font-size: $fontXS;
}

// --- /TYPOS ---


// SURLIGNEMENT DES TEXTES
::-moz-selection {
	background: $black;
	color: $white;
}

::-moz-selection {
	background: $black;
	color: $white;
}

::-webkit-selection {
	background: $black;
	color: $white;
}

::selection {
	background: $black;
	color: $white;
}