// GRILLE LG
@media screen and (min-width: $screen-lg-min) {
}


// GRILLE MD
@media screen and (max-width:$screen-md-max) {
    #intro{    
        & &-content{            
            .overlay{
                width: 53%;
            }
        }
    }
}


// GRILLE SM
@media screen and (max-width:$screen-sm-max) {
    #intro{    
        & &-content{            
            .overlay{
                width: 73%;
            }
        }
    }


    #about{    
        #jobs{
            ul{
                li{
                    h4{
                        &:before{
                            left: -33px;
                        }
                    }

                    .job-content{
                        width: calc(100% - 190px);
                    }
                }
            }
        }

        #knowledges{
            ul{
                flex-wrap: wrap;
                justify-content: center;

                li{
                    margin-bottom: $spacerS;
                    width: 33.333%;
                    text-align: center;
                }
            }
        }
    }
}


// GRILLE XS
@media screen and (max-width: $screen-xs-max){

    #intro{    
        height: 60vh;
        overflow: hidden;

        & &-content{
            #intro-text{
                padding: 0 $spacerXS;

                h1{
                    font-size: 30px;
                }
            }

            .overlay{
                width: 85%;
            }
        }
    }

    #portfolio{    
        & &-content{
            margin: $spacerS -10px 0;

            .project-item{
                width: 50%;
                padding: 10px;
            }
        }
    }


    #about{
        p{    
            &#about-intro{
                width: 100%;
            }
        }

        #jobs{
            ul{
                li{
                    h4{
                        width: auto;
                        padding-left: 14px;

                        &:before{
                            width: 30px;
                        }

                        &:after{
                            left: -10px;
                        }
                    }

                    .job-content{
                        width: 100%;
                        padding-top: 5px;
                        padding-left: 14px;
                    }
                }
            }
        }

        #knowledges{
            ul{
                li{
                    margin-bottom: $spacerXS;

                    .icon{
                        transform: scale(0.8);
                    }
                }
            }
        }


        .side-left{
            height: 50%;
            transform: scaleY(-1) translateX(-40%);
        }
    
        .side-right-top{
            transform: scaleY(-1) rotate(25deg) translate(120%, 20%);
        }
    
        .side-right-bottom{
            height: 50%;
            transform: scaleX(-1) translateX(-40%);
        }
    }


    #hobbies{
        p{
            &#hobbies-intro{
                width: 100%;
            }
        }

        #hobbies-grid{
            width: 100%;
    
            .grid-row{    
                .content{
                    flex-wrap: wrap;

                    &.reverse-xs{
                        flex-wrap: wrap-reverse;
                    }
                }
    
                .column{
                    flex: 1 1 100%;
                    width: 100%;
                    margin-bottom: 0;
    
                    &.left{
                        padding-right: 0;
                    }
                    &.right{
                        padding-left: 0;
                    }

                    img{
                        margin-bottom: $spacerS;

                        &.center{
                            margin-bottom: $spacerS;
                        }

                        &.mtSpacerM{
                            margin-top: 0;
                        }
                    }

                    .quote{
                        margin-bottom: $spacerS;
                    }
                }
            }
        }
    }
}
