// GRILLE LG
@media screen and (min-width: $screen-lg-min) {
}


// GRILLE MD
@media screen and (max-width:$screen-md-max) {
    #intro{    
        
    }
}


// GRILLE SM
@media screen and (max-width:$screen-sm-max) {
    #intro{    
        
    }
}


// GRILLE XS
@media screen and (max-width: $screen-xs-max){
    #intro{
        h1{
            font-size: 30px;
        }

        img{
            margin: 0 auto;
        }

        .grid-row{
            display: block;
        }

        .project-logo,
        .project-first-screen{
            width: 100%;
            margin-bottom: $spacerXS;
        }
        .project-first-screen{
            margin-bottom: 0;
        }
    }

    #page-content{    
        .column{    
            img{
                display: block;
                max-width: 100%;
                margin: 0 auto $spacerM;
            }

            &.left{
                img{
                    &:first-child{
                        margin-top: $spacerM;
                    }
                }
            }
        }
    }


    #portfolio{    
        & &-content{    
            .project-item{
                width: 50%;
                padding: 10px;
            }
        }

        .side-left,
        .side-right{
            display: none;
        }
    }
}
