@import "../../../components/styles/scss/_variables";
@import "../../../components/styles/scss/_colors";
@import "../../../components/styles/scss/_mixins";
@import "../../../components/styles/scss/_texts";


#intro{
    width: 100vw;
    height: 100vh;
    position: relative;
    transform: scale(1.1);
    @include easeInOutCirc(0.6s);

    & &-content{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .img-container{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            filter: blur(10px);
            transition: filter 0.4s ease;

            .loaded &{
                filter: blur(0px);
            }
        }
        
        .overlay{
            background: url(../../images/home/intro/overlay.svg) right 0 no-repeat;
            background-size: cover;
            width: 42.26%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-100%);
            @include easeInOutCirc(0.4s, transform);

            .loaded &{
                transform: translateX(0%);
            }
        }
        
        #intro-text{
            position: relative;
            z-index: 5;
            padding: 0 $spacerS;
            opacity: 0;
            transform: translateY(20px);
            transition: all 0.3s ease;
            transition-delay: 0.4s;

            h1{
                line-height: 0.8;
                color: $white;
                letter-spacing: -0.025em;

                span{
                    display: block;
                    @include fontLt;
                }
            }

            .loaded &{
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }
    
    .loaded &{
        transform: scale(1);
    }
}


#portfolio{
    background-color: $greyLight;

    #portfolio-intro{
        position: relative;
        z-index: 3;
    }

    & &-content{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 3;
        margin: $spacerS ($spacerXS * -1);

        .project-item{
            width: 33.333%;
            overflow: hidden;
            position: relative;
            padding: $spacerXS;

            .item-content{
                width: 100%;
                height: 0;
                padding-top: 56.28%;
            }

            .more{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 5;
                padding-top: 59px;
                color: $white;
                transform: translate(-50%, -50%) scale(0);
                transition: all 0.2s ease;
                transition-delay: 0s;

                &:before,
                &:after{
                    content: '';
                    background: $white;
                    width: 48px;
                    height: 2px;
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -11px);
                }
                &:after{
                    width: 2px;
                    height: 48px;
                    transform: translate(-50%, -34px);
                }

                .more-text{
                    opacity: 0;
                    transform: translateY(16px);
                    transition: all 0.2s ease;
                    transition-delay: 0s;
                }
            }

            .item-overlay{
                position: absolute;
                top: $spacerXS;
                right: $spacerXS;
                width: calc(100% - #{$spacerS});
                height: calc(100% - #{$spacerS});
                overflow: hidden;

                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                    transform: translateX(100%);
                    @include easeInOutCirc(0.25s, transform);
                }
            }

            .no-touch &:hover{
                .more{
                    transform: translate(-50%, -50%) scale(1);
                    transition-delay: 0.25s;

                    .more-text{
                        opacity: 1;
                        transform: translateY(0);
                        transition-delay: 0.4s;
                    }
                }

                .item-overlay{
                    &:before{
                        transform: translateX(-5%);
                    }

                    img{
                        transform: translateX(0%);
                    }
                }
            }
        }
    }


    .side-left{
        fill: #e5e5e5;
        width: auto;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .side-right{
        fill: $white;
        width: auto;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0.65;
        transform: translateX(10%) scaleX(-1);
    }
}


#about{
    background: $greyDark;

    h2{
        color: $primary;
    }

    h3{
        margin-bottom: $spacerS;
        color: $white;

        &:after{
            background-color: $white;
        }
    }

    p{
        color: $white;

        &#about-intro{
            width: 75%;
            margin-bottom: $spacerM;
        }
    }


    #jobs{
        ul{
            li{
                margin-bottom: $spacerM;

                h4{
                    width: 180px;
                    display: inline-block;
                    vertical-align: top;
                    position: relative;
                    padding-left: 84px;
                    @include fontBd;
                    text-transform: uppercase;
                    text-align: right;
                    font-size: 18px;
                    line-height: 20px;
                    color: $white;
            
                    &:before{
                        content: '';
                        background: $primary;
                        width: 40px;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        transform: skew(-16deg);
                    }
            
                    &:after{
                        content:'';
                        background: $primary;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 1px;
                    }
                }

                .job-content{
                    display: inline-block;
                    padding-left: 72px;
                }
            }
        }
    }


    #knowledges{
        ul{
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            padding: 0 5vw;

            li{
                .icon{
                    &.html5{
                        width: 70px;
                        height: 98px;
                    }
                    &.css{
                        width: 70px;
                        height: 98px;
                    }
                    &.sass{
                        width: 107px;
                        height: 80px;
                    }
                    &.js{
                        width: 80px;
                        height: 80px;
                    }
                    &.photoshop{
                        width: 82px;
                        height: 80px;
                    }
                    &.illustrator{
                        width: 82px;
                        height: 80px;
                    }
                    &.gulp{
                        width: 50px;
                        height: 110px;
                    }
                }
            }
        }
    }


    .side-left{
        fill: rgba($white, 0.04);
        width: auto;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleY(-1) translateX(-40%);
    }

    .side-right-top{
        fill: rgba($white, 0.02);
        position: absolute;
        top: 0;
        right: 0;
        transform: scaleY(-1) rotate(25deg) translate(120%, 20%);
    }

    .side-right-bottom{
        fill: rgba($white, 0.03);
        height: 75%;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: scaleX(-1) translateX(-40%);
    }
}


#hobbies{
    flex-wrap: wrap;
    
    p{
        &#hobbies-intro{
            width: 80%;
            margin-bottom: $spacerM;
        }
    }

    #hobbies-grid{
        width: 100%;

        .grid-row{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: $spacerM;

            .content{
                display: flex;
                flex-direction: row;

                &.middle{
                    align-items: center;
                }
            }

            .column{
                width: 50%;

                &.left{
                    padding-right: $spacerXS;
                }
                &.right{
                    padding-left: $spacerXS;
                }

                img{
                    display: block;
                    max-width: 100%;
                    margin-bottom: $spacerS;

                    &.center{
                        margin: 0 auto;
                    }
                }

                h3{
                    margin-bottom: $spacerS;
                }

                .column-text{
                    display: inline-block;
                }

                p{
                    display: inline-block;
                }

                .quote{
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;

                    h3{
                        margin-bottom: 10px;
                        @include fontSerif;
                        text-transform: none;
                        line-height: 1.4;

                        &:before,
                        &:after{
                            content: '"';
                            display: inline-block;
                            font-size: $fontXL;
                            line-height: $fontS;
                        }

                        &:before{
                            margin-right: 10px;
                        }
                        &:after{
                            background: none;
                            margin-top: 10px;
                            margin-left: 6px;
                            border: none;
                        }
                    }

                    .author{
                        color: rgba($greyDark, 0.8);
                    }
                }

                .split{
                    background: $greyDark;
                    width: 1px;
                    height: $spacerS;
                    margin: $spacerS auto;
                }
            }
        }
    }

    .side-left-top{
        fill: rgba($greyLight, 0.5);
        width: 25%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleY(-1) rotate(-5deg) translate(-14%, 5%);
    }

    .side-right-top{
        fill: rgba($greyLight, 0.6);
        position: absolute;
        top: 0;
        right: 0;
        transform: scaleY(-1) rotate(25deg) translateX(130%);
    }

    .side-left-bottom{
        fill: rgba($greyLight, 0.6);
        width: 20%;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateX(-16%);
    }

    .side-right-bottom{
        fill: rgba($greyLight, 0.7);
        width: 20%;
        height: auto;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: scaleX(-1) translateX(-20%);
    }
}


@import 'mq-home';