@import "../../../components/styles/scss/_variables";
@import "../../../components/styles/scss/_colors";
@import "../../../components/styles/scss/_mixins";
@import "../../../components/styles/scss/_texts";


#intro{
    position: relative;
    z-index: 10;
    text-align: center;

    h1{
        display: inline-block;
        position: relative;
        margin-bottom: $spacerS;

        &:before{
			content: '';
			background: $greyDark;
			width: 24px;
			height: 2px;
			position: absolute;
			bottom: 3px;
			left: 0;
		}
    }

    p{
        margin-bottom: $spacerM;
    }

    .button{
        margin-bottom: $spacerM;

        .no-touch &:hover{
            background-color: $primary;
            color: $white;

			&:before,
			&:after{
				background-color: $primary;
            }
            
            box-shadow: 2px 2px 15px rgba(darken($primary, 10), 0.3);
        }
    }

    img{
        display: block;
        max-width: 100%;
    }

    .grid-row{
        display: flex;
        align-items: center;
        width: 100%;
    }

    .project-logo{
        width: 25%;
        padding: 0 $spacerXS;
    }

    .project-first-screen{
        width: 75%;
        padding: 0 $spacerXS;
    }
}


#page-content{
    position: relative;

    .column{
        width: 50%;
        position: relative;
        z-index: 10;

        img{
            display: block;
            max-width: 100%;
            margin: 0 auto $spacerL;

            &:last-child{
                margin-bottom: 0;
            }
        }

        &.left{
            img{
                &:first-child{
                    margin-top: $spacerL;
                }
            }
        }
    }


    .split{
        background: $white;
        width: 1px;
        height: $spacerS;
        margin: 0 auto $spacerS;
    }
}

#portfolio{
    background-color: $primary;
    overflow: hidden;

    #portfolio-intro{
        text-align: center;
        color: $white;

        &:after{
            background-color: $white;
        }
    }

    & &-content{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 3;
        margin: $spacerS ($spacerXS * -1);

        .project-item{
            width: 33.333%;
            overflow: hidden;
            position: relative;
            padding: $spacerXS;

            .item-content{
                width: 100%;
                height: 0;
                padding-top: 56.28%;
            }

            .more{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 5;
                padding-top: 59px;
                color: $white;
                transform: translate(-50%, -50%) scale(0);
                transition: all 0.2s ease;
                transition-delay: 0s;

                &:before,
                &:after{
                    content: '';
                    background: $white;
                    width: 48px;
                    height: 2px;
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -11px);
                }
                &:after{
                    width: 2px;
                    height: 48px;
                    transform: translate(-50%, -34px);
                }

                .more-text{
                    opacity: 0;
                    transform: translateY(16px);
                    transition: all 0.2s ease;
                    transition-delay: 0s;
                }
            }

            .item-overlay{
                position: absolute;
                top: $spacerXS;
                right: $spacerXS;
                width: calc(100% - #{$spacerS});
                height: calc(100% - #{$spacerS});
                overflow: hidden;

                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                    transform: translateX(105%) scale(1.05);
                    @include easeInOutCirc(0.25s, transform);
                }
            }

            .no-touch &:hover{
                .more{
                    transform: translate(-50%, -50%) scale(1);
                    transition-delay: 0.25s;

                    .more-text{
                        opacity: 1;
                        transform: translateY(0);
                        transition-delay: 0.4s;
                    }
                }

                .item-overlay{
                    &:before{
                        transform: translateX(-5%);
                    }

                    img{
                        transform: translateX(0%) scale(1.05);
                    }
                }
            }
        }
    }

    .side-left{
        fill: $white;
    }

    .side-right{
        fill: $white;
        width: auto;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, 20%) scaleX(-1) rotate(-10deg);
    }
}


.side-left{
    fill: $greyLight;
    width: 25%;
    height: auto;
    position: absolute;
    top: 35vh;
    left: -5%;
}

.bottom-shape{
    fill: $primary;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}


@import 'mq-home';