.home {
    #intro {
        background: $greyLight;
        width: 100vw;
        height: 100vh;
        position: relative;

        @include media-breakpoint-down(sm) {
            height: 60vh;
            overflow: hidden;
        }

        #intro-content {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .img-container {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                img {
                    transform: scale(1.15);
                    opacity: 0;
                    @include easeOut(1s);
                }
            }

            /* .overlay {
                display: none;
                background: url(../images/pages/home/intro/overlay.svg) right 0 no-repeat;
                background-size: cover;
                width: 42.26%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                transform: translateX(-100%);
                @include easeInOutCirc(0.4s, transform);

                @include media-breakpoint-down(lg) {
                    width: 73%;
                }

                @include media-breakpoint-down(xs) {
                    width: 85%;
                }
            } */

            #intro-text {
                position: relative;
                z-index: 5;
                padding: 0 $spacerS;

                @include media-breakpoint-down(sm) {
                    padding: 0 $spacerXS;
                }

                h1 {
                    @include fontSize(80px);
                    line-height: 0.8;
                    color: $greyDark;
                    letter-spacing: -0.025em;

                    @include media-breakpoint-down(xs) {
                        font-size: $fontL;
                    }

                    span {
                        opacity: 0;
                        transform: translateX(-20px);
                        @include easeOut(0.5s);
                        transition-delay: 0.6s;

                        &.bg {
                            background: url("../images/pages/home/intro/bg-titre.jpg") center center no-repeat;
                            background-size: 110% auto;
                            display: block;
                            position: relative;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }

                        &:not(.bg) {
                            display: block;
                            margin-top: calculateRem(4px);
                            @include font;
                            font-size: $fontM;
                            letter-spacing: 0;
                            transition-delay: 0.7s;

                            @include media-breakpoint-down(xs) {
                                font-size: $fontM;
                            }
                        }
                    }
                }

                .button {
                    margin-top: $spacerS;
                }
            }

            .scroll-arrow {
                width: 22px;
                height: 28px;
                position: absolute;
                bottom: 40px;
                left: 50%;
                z-index: 50;
                margin-left: -11px;
                opacity: 0;
                transform: translateY(20px);
                transition: all 0.5s ease;
                transition-delay: 0.6s;

                .icon {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    &.loaded {
        #intro {
            #intro-content {
                .img-container {
                    img.loaded {
                        opacity: 1;
                        transform: scale(1);
                    }
                }

                /* .overlay {
                    transform: translateX(0%);
                } */

                #intro-text span,
                .scroll-arrow {
                    opacity: 1;
                    transform: translateX(0px);
                }
            }
        }
    }

    #portfolio {
        background-color: $greyLight;

        #portfolio-intro {
            position: relative;
            z-index: 3;
        }

        .side-left {
            fill: #e5e5e5;
            width: auto;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        .side-right {
            fill: $white;
            width: auto;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0.65;
            transform: translateX(10%) scaleX(-1);
        }
    }
}

#about-section {
    background: $greyDark;

    h2 {
        color: $primary;
    }

    h3 {
        margin-bottom: $spacerXS;
        color: $greyDark;

        &:after {
            display: none;
        }
    }

    p {
        margin-bottom: $spacerM;
        text-align: justify;
        color: $white;

        @include media-breakpoint-down(sm) {
            margin-bottom: $spacerS;
        }
    }

    #services-list {
        margin-bottom: $spacerM;

        @include media-breakpoint-down(sm) {
            margin-bottom: $spacerS;
        }

        .col-md-3 {
            @include media-breakpoint-down(sm) {
                overflow: hidden;
            }

            &:last-child {
                .service {
                    margin-bottom: 0;
                }
            }
        }
    }

    .service {
        background: $greyLight;
        height: 100%;
        text-align: center;
        transform: skewX(-10deg);

        @include media-breakpoint-down(sm) {
            height: auto;
            width: calc(100% - 20px);
            margin: 0 auto $spacerS;
        }

        &-inner {
            position: relative;
            height: 100%;
            padding: $spacerS $spacerS $spacerM;
            transform: skewX(10deg);

            @include media-breakpoint-down(sm) {
                padding: $spacerXS;
            }
        }

        p {
            margin-bottom: 0;
            color: $greyDark;

            @include media-breakpoint-down(sm) {
                text-align: left;
            }
        }

        .d-flex {
            position: absolute;
            bottom: calculateRem(20px);
            left: calculateRem(-11px);
            right: calculateRem(16px);

            @include media-breakpoint-down(sm) {
                position: static;
                margin-top: calculateRem(20px);
            }

            a {
                @include media-breakpoint-down(sm) {
                    margin-left: calculateRem(-27px);
                }
            }
        }
    }

    #jobs {
        ul {
            li {
                margin-bottom: $spacerM;

                h4 {
                    width: calculateRem(180px);
                    display: inline-block;
                    vertical-align: top;
                    position: relative;
                    padding-left: calculateRem(84px);
                    @include fontBd;
                    text-transform: uppercase;
                    text-align: right;
                    font-size: calculateRem(18px);
                    line-height: calculateRem(20px);
                    color: $white;

                    @include media-breakpoint-down(sm) {
                        width: auto;
                        padding-left: calculateRem(14px);
                    }

                    &:before {
                        content: "";
                        background: $primary;
                        width: calculateRem(40px);
                        height: 100%;
                        position: absolute;
                        left: 0;
                        transform: skew(-16deg);

                        @include media-breakpoint-down(md) {
                            left: calculateRem(-33px);
                        }

                        @include media-breakpoint-down(sm) {
                            width: calculateRem(30px);
                        }
                    }

                    &:after {
                        content: "";
                        background: $primary;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 1px;

                        @include media-breakpoint-down(sm) {
                            left: calculateRem(-10px);
                        }
                    }
                }

                .job-content {
                    display: inline-block;
                    padding-left: calculateRem(72px);

                    @include media-breakpoint-down(md) {
                        width: calc(100% - 190px);
                    }

                    @include media-breakpoint-down(sm) {
                        width: 100%;
                        padding-top: calculateRem(5px);
                        padding-left: calculateRem(14px);
                    }
                }
            }
        }
    }

    #knowledges {
        ul {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            padding: 0 5vw;

            @include media-breakpoint-down(md) {
                flex-wrap: wrap;
                justify-content: center;
            }

            li {
                @include media-breakpoint-down(md) {
                    margin-bottom: $spacerS;
                    width: 33.333%;
                    text-align: center;
                }

                @include media-breakpoint-down(sm) {
                    margin-bottom: $spacerXS;
                    padding: 0 10px;
                    width: auto;
                }

                .icon {
                    $reducer: 0.4;
                    $s98: 98px;
                    $s80: 80px;

                    &.wordpress {
                        width: $s98;
                        height: $s98;

                        @include media-breakpoint-down(sm) {
                            width: $s98*$reducer;
                            height: $s98*$reducer;
                        }
                    }

                    &.html5 {
                        width: 70px;
                        height: $s98;

                        @include media-breakpoint-down(sm) {
                            width: 70px*$reducer;
                            height: $s98*$reducer;
                        }
                    }

                    &.css {
                        width: 70px;
                        height: $s98;

                        @include media-breakpoint-down(sm) {
                            width: 70px*$reducer;
                            height: $s98*$reducer;
                        }
                    }

                    &.sass {
                        width: 107px;
                        height: $s80;

                        @include media-breakpoint-down(sm) {
                            width: 107px*$reducer;
                            height: $s80*$reducer;
                        }
                    }

                    &.js {
                        width: $s80;
                        height: $s80;

                        @include media-breakpoint-down(sm) {
                            width: $s80*$reducer;
                            height: $s80*$reducer;
                        }
                    }

                    &.photoshop {
                        width: 82px;
                        height: $s80;

                        @include media-breakpoint-down(sm) {
                            width: 82px*$reducer;
                            height: $s80*$reducer;
                        }
                    }

                    &.illustrator {
                        width: 82px;
                        height: $s80;

                        @include media-breakpoint-down(sm) {
                            width: 82px*$reducer;
                            height: $s80*$reducer;
                        }
                    }

                    &.gulp {
                        width: 50px;
                        height: 110px;

                        @include media-breakpoint-down(sm) {
                            width: 50px*$reducer;
                            height: 110px*$reducer;
                        }
                    }
                }
            }
        }
    }

    .side-left {
        fill: rgba($white, 0.04);
        width: auto;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleY(-1) translateX(-40%);

        @include media-breakpoint-down(sm) {
            height: 50%;
            transform: scaleY(-1) translateX(-40%);
        }
    }

    .side-right-top {
        fill: rgba($white, 0.02);
        width: 50vw;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        transform: scaleY(-1) rotate(25deg) translate3d(65%, 20%, 0);

        @include media-breakpoint-down(sm) {
            transform: scaleY(-1) rotate(25deg) translate(120%, 20%);
        }
    }

    .side-right-bottom {
        fill: rgba($white, 0.03);
        height: 75%;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: scaleX(-1) translateX(-40%);

        @include media-breakpoint-down(sm) {
            height: 50%;
            transform: scaleX(-1) translateX(-40%);
        }
    }
}

/* #hobbies {
    flex-wrap: wrap;

    p {
        &#hobbies-intro {
            width: 80%;
            margin-bottom: $spacerM;

            @include media-breakpoint-down(sm) {
                width: 100%;
            }
        }
    }

    #hobbies-grid {
        width: 100%;

        .grid-row {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: $spacerM;

            .content {
                display: flex;
                flex-direction: row;

                &.middle {
                    align-items: center;
                }

                @include media-breakpoint-down(sm) {
                    flex-wrap: wrap;

                    &.reverse-xs {
                        flex-wrap: wrap-reverse;
                    }
                }
            }

            .column {
                width: 50%;

                @include media-breakpoint-down(sm) {
                    flex: 1 1 100%;
                    width: 100%;
                    margin-bottom: 0;
                }

                &.left {
                    padding-right: $spacerXS;

                    @include media-breakpoint-down(sm) {
                        padding-right: 0;
                    }
                }

                &.right {
                    padding-left: $spacerXS;

                    @include media-breakpoint-down(sm) {
                        padding-left: 0;
                    }
                }

                .img-wrapper {
                    display: inline-block;
                    position: relative;
                    overflow: hidden;
                    margin-bottom: $spacerS;

                    @include media-breakpoint-down(sm) {
                        margin-bottom: $spacerS;
                    }

                    &:before {
                        content: "";
                        background-color: $primary;
                        width: 0;
                        height: 100%;
                        position: absolute;
                        z-index: 2;
                        top: 0;
                        left: 0;
                    }

                    &.aos-animate {
                        &:before {
                            animation: 1.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards slideLayer;
                        }

                        img {
                            animation: 1.25s forwards imgAppear;
                            opacity: 1;
                        }
                    }

                    &[data-aos="swipe"] {
                        img {
                            opacity: 0;
                        }
                    }

                    &.center {
                        margin: 0 auto;

                        @include media-breakpoint-down(sm) {
                            margin-bottom: $spacerS;
                        }
                    }

                    &.mtSpacerM {
                        @include media-breakpoint-down(sm) {
                            margin-top: 0;
                        }
                    }
                }

                img {
                    display: block;
                    max-width: 100%;
                }

                h3 {
                    margin-bottom: $spacerS;
                }

                .column-text {
                    display: inline-block;
                }

                p {
                    display: inline-block;
                }

                .quote {
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;

                    @include media-breakpoint-down(sm) {
                        margin-bottom: $spacerS;
                    }

                    h3 {
                        margin-bottom: 10px;
                        @include fontSerif;
                        text-transform: none;
                        line-height: 1.4;

                        &:before,
                        &:after {
                            content: '"';
                            display: inline-block;
                            font-size: $fontXL;
                            line-height: $fontS;
                        }

                        &:before {
                            margin-right: 10px;
                        }

                        &:after {
                            background: none;
                            margin-top: 10px;
                            margin-left: 6px;
                            border: none;
                        }
                    }

                    .author {
                        color: rgba($greyDark, 0.8);
                    }
                }

                .split {
                    background: $greyDark;
                    width: 1px;
                    height: $spacerS;
                    margin: $spacerS auto;
                }
            }
        }
    }

    @keyframes slideLayer {
        0% {
            left: 0;
            right: auto;
            width: 0.5rem;
        }

        50% {
            left: 0;
            right: auto;
            width: 100%;
        }

        51% {
            left: auto;
            right: 0;
            width: 100%;
        }

        to {
            left: auto;
            right: 0;
            width: 0;
        }
    }

    @keyframes imgAppear {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0;
        }

        51% {
            opacity: 1;
        }

        to {
            opacity: 1;
        }
    }

    .side-left-top {
        fill: rgba($greyLight, 0.5);
        width: 25%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleY(-1) rotate(-5deg) translate(-14%, 5%);
    }

    .side-right-top {
        fill: rgba($greyLight, 0.6);
        position: absolute;
        top: 0;
        right: 0;
        transform: scaleY(-1) rotate(25deg) translateX(130%);
    }

    .side-left-bottom {
        fill: rgba($greyLight, 0.6);
        width: 20%;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateX(-16%);
    }

    .side-right-bottom {
        fill: rgba($greyLight, 0.7);
        width: 20%;
        height: auto;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: scaleX(-1) translateX(-20%);
    }

    .shape-bottom {
        fill: rgba($greyLight, 0.5);
        width: 20vh;
        height: auto;
        position: absolute;
        top: 40%;
        left: 0;
    }
} */