*{
    // Background: ;
    // Dimensions: px / % / vw / vh;
    // Position: px / % / vw / vh;
    // Margins: px / % / vw / vh;
    // Paddings: px / % / vw / vh;
    // Borders: px;
    // Font:;
    // Font-size:;
    // color: #;
    // Text-transform:;
    // Text-decoration:;
    // proprietes CSS 3;
    // Transitions;
}




// INVIEW
.inview-stagger,
.inview-single,
.stagger{
    opacity: 0;
    transition: opacity 0.4s;

    &.show{
        opacity: 1;
    }
}

.inview-stagger,
.stagger{
    @include stagger(0.09s);
}


.section{
    position: relative;
    padding: $spacerM $spacerS;
    overflow: hidden;

    .content{
        position: relative;
        z-index: 5;
    }

    h2{
        position: relative;
        z-index: 3;
        margin-bottom: 30px;
        color: $primary;
    }
}