// GRILLE LG
@media screen and (min-width: $screen-lg-min) {
}


// GRILLE MD
@media screen and (max-width:$screen-md-max) {
    #header{
        .logo{
            font-size: $fontM;
        }

        .header-content{
            padding-top: $spacerS;
        }
    }
}


// GRILLE SM
@media screen and (max-width:$screen-sm-max) {
    #header{
        .header-content{
            .links-list{
                li{
                    padding: 0 10px;
                }
            }
        }
    }

    
}


// GRILLE XS
@media screen and (max-width: $screen-xs-max){
    #header{
        //height: $headerHeightSmall;
        height: auto;
        display: block;
        padding: $spacerXS;

        .logo{
            display: block;
            font-size: $fontM;
        }

        .navbar-toggle{
            display: block;
        }

        .header-content{
            padding: 0;

            .links-list{
                display: none;
                padding: $spacerXS 0 0;
                text-align: left;

                li{
                    padding: 10px 0;

                    &:last-child{
                        padding-bottom: 0;
                    }
                }
            }
        }

        &.open{
            background: $primary;

            .header-content{
                .links-list{
                    display: block;
                }
            }

            &.scrolled{
                background: $greyLight;
            }
        }
    }
}